* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #0f182a;
  height: 100px;
  display: flex;
  flex: content;
  justify-content: space-around;
  padding: 10px;
  columns: 4;
  gap: 10px;
}

.card-titulo {
  width: auto;
  height: 130px;
  background-color: #0f182a;
  color: white;
  text-align: center;
  padding: 60px;
}

.card-titulo > h1 {
  text-align: center;
  margin-top: 20px;
}

.card-1 {
  background-color: white;
  border-radius: 8px;
  width: 300px;
  height: 130px;
}

.card-1-resultado {
  text-align: center;
  color: black;
  font-size: 28px;
}

.card-1-interno {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
  padding: 10px;
  color: #538aff;
  margin-top: 10px;
}

.card-2-interno {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
  padding: 10px;
  color: #538aff;
  margin-top: 10px;
}

.fa-ind {
  color: #538aff;
}

.card-2 {
  background-color: white;
  border-radius: 8px;
  width: 300px;
  height: 130px;
}

.card-3 {
  background-color: white;
  border-radius: 8px;
  width: 300px;
  height: 130px;
}

.card-3-interno {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
  padding: 10px;
  color: #538aff;
  margin-top: 10px;
}

.card-4 {
  background-color: white;
  border-radius: 8px;
  width: 300px;
  height: 130px;
}

.card-4-interno {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
  padding: 10px;
  color: #538aff;
  margin-top: 10px;
}

.container > h1 {
  margin-top: 10px;
  text-align: center;
}

.section-container {
  padding: 60px;
  background-color: #031640;
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
}
